flow.json
[{"id":"7e960312.5022dc","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f0550919.f409d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdf0b279.938f8","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e84c04f4.3a0748","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cab5c340.5e0de","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7834ce8d.718b3","type":"ui_group","name":"Default","tab":"e84c04f4.3a0748","order":1,"disp":true,"width":"6","collapse":false},{"id":"55ffefc2.287da","type":"ui_group","name":"Default","tab":"412ea62f.a79568","order":1,"disp":true,"width":"6","collapse":false},{"id":"412ea62f.a79568","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7a8cdfa.043ed","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:1","payloadType":"str","x":270,"y":220,"wires":[["26ec18c1.b9ae68"]]},{"id":"26ec18c1.b9ae68","type":"serial out","z":"7e960312.5022dc","name":"","serial":"fdf0b279.938f8","x":690,"y":220,"wires":[]},{"id":"9fa55a18.2fb748","type":"serial in","z":"7e960312.5022dc","name":"","serial":"fdf0b279.938f8","x":110,"y":60,"wires":[["3e24cc63.61c894"]]},{"id":"3e24cc63.61c894","type":"debug","z":"7e960312.5022dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"a08ee2ea.c0137","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:1","payloadType":"str","x":270,"y":260,"wires":[["26ec18c1.b9ae68"]]},{"id":"d602ffbd.20382","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0","payloadType":"str","x":90,"y":140,"wires":[["26ec18c1.b9ae68"]]},{"id":"46db4bb9.970814","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:0","payloadType":"str","x":90,"y":180,"wires":[["26ec18c1.b9ae68"]]},{"id":"371f1b58.0c7534","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:2","payloadType":"str","x":90,"y":340,"wires":[["26ec18c1.b9ae68"]]},{"id":"1f3b817b.fee20f","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:2","payloadType":"str","x":90,"y":380,"wires":[["26ec18c1.b9ae68"]]},{"id":"c8a84657.680c88","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dim:0","payloadType":"str","x":90,"y":220,"wires":[["26ec18c1.b9ae68"]]},{"id":"9d77349a.a9e6f8","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dim:1","payloadType":"str","x":270,"y":300,"wires":[["26ec18c1.b9ae68"]]},{"id":"d7a1ec7.e81101","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dim:2","payloadType":"str","x":90,"y":420,"wires":[["26ec18c1.b9ae68"]]},{"id":"cb0a22e7.7e7cf","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0,255,189,126,200","payloadType":"str","x":500,"y":780,"wires":[["26ec18c1.b9ae68"]]},{"id":"8db77371.92385","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:1,255,000,255,200","payloadType":"str","x":500,"y":820,"wires":[["26ec18c1.b9ae68"]]},{"id":"c4562fd8.d434a","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:2,255,000,255,200","payloadType":"str","x":500,"y":860,"wires":[["26ec18c1.b9ae68"]]},{"id":"d0bc9432.99f4c8","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0,255,000,255,000","payloadType":"str","x":160,"y":700,"wires":[["26ec18c1.b9ae68"]]},{"id":"d15999c3.fa5558","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:1,255,000,255,000","payloadType":"str","x":160,"y":740,"wires":[["26ec18c1.b9ae68"]]},{"id":"d6ebc1a.09f394","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:2,255,000,255,000","payloadType":"str","x":160,"y":780,"wires":[["26ec18c1.b9ae68"]]},{"id":"ae743cde.5b2a5","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0,250,100,126,020","payloadType":"str","x":600,"y":680,"wires":[["26ec18c1.b9ae68"]]},{"id":"fbd9786c.6f5c28","type":"ui_colour_picker","z":"7e960312.5022dc","name":"","label":"","group":"7834ce8d.718b3","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":180,"y":960,"wires":[["871c8676.c43658"]]},{"id":"6a833b20.d7aa64","type":"debug","z":"7e960312.5022dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":960,"wires":[]},{"id":"871c8676.c43658","type":"function","z":"7e960312.5022dc","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:0,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":960,"wires":[["6a833b20.d7aa64","26ec18c1.b9ae68"]]},{"id":"573a817c.24037","type":"ui_colour_picker","z":"7e960312.5022dc","name":"","label":"","group":"7834ce8d.718b3","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":1020,"wires":[["95293219.10da8"]]},{"id":"95293219.10da8","type":"function","z":"7e960312.5022dc","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:1,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1020,"wires":[["26ec18c1.b9ae68"]]},{"id":"525e5898.33c548","type":"ui_colour_picker","z":"7e960312.5022dc","name":"","label":"","group":"7834ce8d.718b3","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":1080,"wires":[["4d99f1ac.1d56"]]},{"id":"4d99f1ac.1d56","type":"function","z":"7e960312.5022dc","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:2,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1080,"wires":[["26ec18c1.b9ae68"]]},{"id":"32ba6e4d.a3a142","type":"serial out","z":"f0550919.f409d8","name":"","serial":"fdf0b279.938f8","x":1010,"y":180,"wires":[]},{"id":"32abda83.4baa66","type":"serial in","z":"f0550919.f409d8","name":"","serial":"fdf0b279.938f8","x":90,"y":60,"wires":[["e8d7fbd1.a3c638"]]},{"id":"e8d7fbd1.a3c638","type":"debug","z":"f0550919.f409d8","name":"ESP debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"ae56c2e8.a6c6b","type":"inject","z":"f0550919.f409d8","name":"Fade In White","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0,255,000,255,200","payloadType":"str","x":130,"y":160,"wires":[["32ba6e4d.a3a142"]]},{"id":"cb37971b.a1e2f8","type":"ui_colour_picker","z":"f0550919.f409d8","name":"","label":"","group":"55ffefc2.287da","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":630,"y":420,"wires":[["cc0b02f1.52"]]},{"id":"7fb3ca36.25a6b4","type":"debug","z":"f0550919.f409d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":420,"wires":[]},{"id":"cc0b02f1.52","type":"function","z":"f0550919.f409d8","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:0,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":420,"wires":[["7fb3ca36.25a6b4","32ba6e4d.a3a142"]]},{"id":"141c5350.35686d","type":"ui_colour_picker","z":"f0550919.f409d8","name":"","label":"","group":"55ffefc2.287da","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":620,"y":480,"wires":[["de0c1c0c.58375"]]},{"id":"de0c1c0c.58375","type":"function","z":"f0550919.f409d8","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:1,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":480,"wires":[["32ba6e4d.a3a142"]]},{"id":"45b81520.0ac6ac","type":"ui_colour_picker","z":"f0550919.f409d8","name":"","label":"","group":"55ffefc2.287da","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":620,"y":540,"wires":[["ccbe2eae.4816b"]]},{"id":"ccbe2eae.4816b","type":"function","z":"f0550919.f409d8","name":"","func":"var { r, g, b, a } = msg.payload;\nr = String(r).padStart(3, '0');\ng = String(g).padStart(3, '0');\nb = String(b).padStart(3, '0');\na = String(Math.round(a * 255)).padStart(3, \"0\");\nmsg.payload = `on:2,${ r },${ g },${ b },${ a }`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":540,"wires":[["32ba6e4d.a3a142"]]},{"id":"431aef94.f6063","type":"inject","z":"f0550919.f409d8","name":"Fade Out White","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0,255,000,255,000","payloadType":"str","x":140,"y":200,"wires":[["32ba6e4d.a3a142"]]},{"id":"6e1cdfc4.02959","type":"function","z":"f0550919.f409d8","name":"","func":"// msg = [{\n//     delay: 0,\n//     payload: 'on:0,000,154,255,220,4'\n// }, {\n//     delay: 3000,\n//     payload: 'on:0,000,154,255,000,2'\n// }]\nmsg = [{\n    delay: 0,\n    payload: 'on:0,255,000,100,220,2'\n}]\nreturn [msg]\n// msg = {\n//     delay: 0,\n//     payload: 'on:0,255,255,255,255,4'\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["e94c9c3a.f130a"]]},{"id":"9a3d076e.dc0638","type":"inject","z":"f0550919.f409d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["6e1cdfc4.02959"]]},{"id":"e94c9c3a.f130a","type":"delay","z":"f0550919.f409d8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":300,"wires":[["32ba6e4d.a3a142","4c1c2bdc.73e514"]]},{"id":"4c1c2bdc.73e514","type":"debug","z":"f0550919.f409d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"254afd1a.103872","type":"function","z":"f0550919.f409d8","name":"","func":"// msg = [{\n//     delay: 0,\n//     payload: 'on:0,000,154,255,220,4'\n// }, {\n//     delay: 3000,\n//     payload: 'on:0,000,154,255,000,2'\n// }]\nmsg = [{\n    delay: 0,\n    payload: 'on:0,255,000,100,030,2'\n}]\nreturn [msg]\n// msg = {\n//     delay: 0,\n//     payload: 'on:0,255,255,255,255,4'\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":320,"wires":[["e94c9c3a.f130a"]]},{"id":"e179edd3.5d0dc","type":"inject","z":"f0550919.f409d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["254afd1a.103872"]]},{"id":"41311024.b1e24","type":"function","z":"f0550919.f409d8","name":"","func":"msg = [{\n    delay: 0,\n    payload: 'on:0,230,230,255,250,2\\n'\n}, {\n    delay: 3000,\n    payload: 'on:0,230,230,255,030,2\\n'\n}]\nreturn [msg]\n// msg = {\n//     delay: 0,\n//     payload: 'on:0,255,255,255,255,4'\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["e94c9c3a.f130a"]]},{"id":"7763ccf7.d896a4","type":"inject","z":"f0550919.f409d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["41311024.b1e24","e0c763d6.985a6"]]},{"id":"e0c763d6.985a6","type":"function","z":"f0550919.f409d8","name":"","func":"msg = [{\n    delay: 0,\n    payload: 'on:1,230,230,255,250,2\\n'\n}, {\n    delay: 3000,\n    payload: 'on:1,230,230,255,030,2\\n'\n}]\nreturn [msg]\n// msg = {\n//     delay: 0,\n//     payload: 'on:0,255,255,255,255,4'\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["2d4f50d9.f493b"]]},{"id":"2d4f50d9.f493b","type":"delay","z":"f0550919.f409d8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":340,"wires":[["32ba6e4d.a3a142"]]}]