node-red-flow/.flow.json.backup
[{"id":"7e960312.5022dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdf0b279.938f8","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e7a8cdfa.043ed","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:1","payloadType":"str","x":410,"y":260,"wires":[["26ec18c1.b9ae68"]]},{"id":"26ec18c1.b9ae68","type":"serial out","z":"7e960312.5022dc","name":"","serial":"fdf0b279.938f8","x":650,"y":260,"wires":[]},{"id":"9fa55a18.2fb748","type":"serial in","z":"7e960312.5022dc","name":"","serial":"fdf0b279.938f8","x":610,"y":600,"wires":[["3e24cc63.61c894"]]},{"id":"3e24cc63.61c894","type":"debug","z":"7e960312.5022dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"a08ee2ea.c0137","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:1","payloadType":"str","x":410,"y":320,"wires":[["26ec18c1.b9ae68"]]},{"id":"d602ffbd.20382","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:0","payloadType":"str","x":410,"y":140,"wires":[["26ec18c1.b9ae68"]]},{"id":"46db4bb9.970814","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:0","payloadType":"str","x":410,"y":200,"wires":[["26ec18c1.b9ae68"]]},{"id":"371f1b58.0c7534","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on:2","payloadType":"str","x":410,"y":400,"wires":[["26ec18c1.b9ae68"]]},{"id":"1f3b817b.fee20f","type":"inject","z":"7e960312.5022dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off:2","payloadType":"str","x":410,"y":460,"wires":[["26ec18c1.b9ae68"]]}]